<footer class="site-footer">
  <!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>
      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
      <div class="footer-col footer-col-2">
        <a class="github-button" href="https://github.com/mokpro" aria-label="Follow @mokpro on GitHub">Follow @mokpro</a>
        <a href="https://twitter.com/mokpro?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @mokpro</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
  </div>
</footer>
